* {
  margin: 0;
  padding: 0;
}

/*body {
  margin: 0;
  padding: 0;
}*/

/*.main-head {
  grid-area: header;
}*/
.content {
  grid-area: content;
  border: solid yellow 1px;
  background-color: lightgreen;
}
.main-nav {
  grid-area: nav;
  /*background-color: #e06857;*/
  border-bottom: solid black 1px;
}
.navbar {
  list-style: none;
  align-items: center;
  height: 8px;
  padding: 1em;
  position: relative;
}
.logo {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  border: solid green 1px;
  padding-left: 3px;
}
.floatright {
  float: right;
}
.navbar li {
  display: inline;
  /*padding: 0 1.5em;*/
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: medium;
}
.navbar a:hover {
 color: blue;
 text-decoration: none;
 cursor: pointer;
}

/*hamburger icon*/
.hamburger {
  display: inline-block;
  cursor: pointer;
  padding-top: 5px;
}
.bar1, .bar2, .bar3 {
  width: 28px;
  height: 3px;
  background-color: black;
  margin: 4px 6px 4px 6px;
  transition: 0.4s;
}
.change .bar1 {
  transform: rotate(-45deg)  translate(-3px, 3px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
/*hamburger icon*/

.side {
  grid-area: sidebar;
  border: solid purple 1px;
  background: white;
}


.wrapper {
  background-color: pink;
  display: grid;
  grid-auto-rows: minmax(25px, auto);
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "content"
    "content"
    "content"
    "sidebar";
  }


  /* medium screen - two columns */
  /*iPhone 6s plus width is 750px */
  @media (min-width: 767px) {
    .wrapper {
      background-color: beige;
      grid-template-columns: 270px 4fr;
      grid-template-areas:
        "nav     nav"
        "sidebar content"
        "sidebar content"
        "sidebar content"
        "sidebar content"
        "sidebar content";
    }
    nav ul {
      display: flex;
      /*justify-content: space-between;*/
      justify-content: flex-end;
    }
  }

  /* medium screen - two columns */
  /*iPhone 6s plus width is 750px */
  /*@media (max-width: 767px) {
    .wrapper {
      background-color: blue;
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        "header  header"
        "nav     nav"
        "sidebar content"
        "ad      footer";
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
  }*/






/* big screen - three columns */
/*@media screen and (min-width: 700px) {
  .wrapper {
    background-color: green;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer";
   }
   nav ul {
     flex-direction: column;
   }
}*/





/* ----small last----- */
/* small screen - one column */
/*@media screen and (max-width: 499px) {
.wrapper {
  background-color: black;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
  }
}*/
